@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #5CA4A3;
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: all 0.5s ease-in-out;
}
.App .bg {
  width: 100%;
}

.keywordsContainer {
  position: absolute;
  width: calc(100% - 3rem);
  display: flex;
  justify-content: space-between;
  background-color: hsl(180, 52%, 96%);
  box-shadow: 0px 10px 10px rgb(173, 216, 216);
  border-radius: 10px;
  top: 0;
  transform: translate(0, -50%);
}
.keywordsContainer .keywords {
  padding: 1rem;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 1rem;
}
.keywordsContainer .keywords button {
  all: unset;
  display: flex;
  margin-left: 1rem;
}
.keywordsContainer .keywords img {
  padding: 0.5rem;
  background-color: rgb(17, 149, 149);
  border-radius: 0 5px 5px 0;
}
.keywordsContainer .keywords img:hover {
  background-color: rgb(12, 81, 81);
  cursor: pointer;
}
.keywordsContainer .keywords span {
  padding: 0.5rem;
  background-color: rgb(224, 239, 239);
  border-radius: 5px 0 0 5px;
}
.keywordsContainer .clear {
  all: unset;
  color: hsl(180, 8%, 52%);
  margin-right: 2rem;
  cursor: pointer;
}
.keywordsContainer .clear:hover {
  color: rgb(17, 149, 149);
  margin-bottom: 0;
  padding-bottom: 0;
}

main {
  padding: 0 1.5rem;
  background-color: hsl(180, 31%, 95%);
  padding-top: 5rem;
  position: relative;
}
main article {
  background-color: hsl(180, 31%, 95%);
  position: relative;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 7px;
  box-shadow: 0px 10px 10px rgb(173, 216, 216);
}
main article.new-or-featured {
  border-left: hsl(180, 8%, 52%) 4px solid;
}
main article img {
  width: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 3rem;
  padding-bottom: 2.5rem;
}
main article h1 {
  font-size: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: rgb(17, 149, 149);
}
main article h1 span {
  color: white;
  font-size: 0.7rem;
  margin-left: 1rem;
  padding: 0.4rem 0.6rem 3px 0.6rem;
  border-radius: 20px;
}
main article h1 span.new {
  background-color: rgb(17, 149, 149);
}
main article h1 span.featured {
  background-color: rgb(12, 81, 81);
}
main article p {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}
main article p:hover {
  color: rgb(12, 81, 81);
  cursor: pointer;
}
main article .time {
  display: flex;
  gap: 1.5rem;
  border-bottom: 1px gray dotted;
  overflow: hidden;
  padding: 0.8rem 0;
  color: hsl(180, 8%, 52%);
}
main article .lang {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  color: hsl(180, 14%, 20%);
}
main article .lang li {
  background-color: hsl(180, 52%, 96%);
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  color: rgb(68, 171, 171);
  border-radius: 5px;
  background-color: rgb(224, 239, 239);
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main article .lang li:hover {
  cursor: pointer;
  background-color: rgb(12, 81, 81);
  color: hsl(180, 31%, 95%);
}

@media screen and (min-width: 500px) {
  main article {
    position: initial;
    display: grid;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    align-items: center;
    grid-template-columns: auto auto 1fr;
    align-items: center;
  }
  main article img {
    position: initial;
    transform: initial;
    padding-bottom: 0;
    width: auto;
  }
  main article .lang {
    justify-self: flex-end;
  }
  main article .time {
    border-bottom: none;
  }
}/*# sourceMappingURL=App.css.map */